<ion-view view-title="Mes projets" data-ng-controller="updateProjectController">

    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Mes projets
            </div>
            <div class="item item-text-wrap">
                <ul class="list" ng-repeat="project in projects">
                    <li class="item">
                        {{project.name}}
                    </li>

                </ul>
            </div>
            <div class="item item-divider">
                <button class="button button-block button-positive" ui-sref="updateProjet">Creer un nouveau projet</button>
            </div>
    </ion-content>
</ion-view>