<ion-view view-title="Mes projets">

    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Liste des pieces
            </div>
            <div class="item item-text-wrap">
                <ul class="list">
                    <li class="item">
                        5 fenetres
                    </li>
                    <li class="item">
                        2 portes
                    </li>

                </ul>
            </div>

            <div class="item item-divider">
                <div class="row">
                    <div class="col"> <a style="background-color:dodgerblue  ; color: aliceblue ; width: 100%" class="button " ui-sref="updateItem">Ajouter</a></div>
                    <div class="col calm"><a class="button" style="background-color: cornflowerblue ; color: aliceblue ; width: 100%">Generer Calcules</a></div>
                </div>

            </div>
    </ion-content>
</ion-view>