<ion-view view-title="Nouveau projet">

    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Creer un nouveau projet
            </div>
            <div class="item item-text-wrap">
                <form class="list padding" ng-submit="getMeteo(ville)">
                    <label class="item item-input">
    <input type="text" ng-model="project.name" placeholder="nom du projet ">
  </label>
                    <label class="item item-input">
    <input type="date" ng-model="project.date">
  </label>

                    <label class="item item-input item-select">
   <div class = "input-label">
     Profil
   </div>
	
   <select ng-model="project.profil.name">
      <option value="Alima">Alima</option>
      <option  value="option 2">Option 2</option>
      <option value="option 3">Option 3</option>
   </select>
</label>
                    <label class="item item-input item-select">
   <div class = "input-label">
     Couleur
   </div>
	
   <select ng-model="project.profil.coleur">
      <option value="blan">blan</option>
      <option value="noire">noire</option>
      <option>Option 3</option>
   </select>
</label>
                    <label class="item item-input item-select">
   <div class = "input-label">
     Couisine/Autre
   </div>
	
   <select ng-model="project.cousineAutre">
      <option value="Autre">Autre</option>
      <option value="Couisine">Couisine</option>
   </select>
</label>
                </form>
            </div>
            <div class="item item-divider">
                <button class="button button-block button-positive" data-ng-click="validerProjet()">Valider</button>
            </div>
        </div>

    </ion-content>
</ion-view>